[Desktop Entry]
Encoding=UTF-8
Name=Yutovo
Name[ru]=Ютово
Name[es]=Yutovo
Name[pt_BR]=Yutovo
Name[de]=Yutovo
Comment=Visual calculator inside a text editor
Comment[ru]=Наглядный калькулятор внутри текстового редактора
Comment[es]=Calculadora visual dentro de un editor de texto
Comment[pt_BR]=Calculadora visual dentro de um editor de texto
Comment[de]=Anschaulicher Rechner in einem Texteditor
GenericName=Calculator
GenericName[ru]=Калькулятор
GenericName[es]=Calculadora
GenericName[pt_BR]=Calculadora
GenericName[de]=Rechner
Type=Application
Exec=/opt/yutovo/yutovo-desktop %u
Path=/opt/yutovo/
Icon=/usr/share/icons/hicolor/256x256/apps/yutovo.png
StartupNotify=true
Terminal=false
Categories=Education;
MimeType=application/x-yut;
Keywords=yutovo;mathematics;education;science;math;maths;mathematics;data;
Keywords[ru]=ютово;математика;обучение;калькулятор;наука;размерности;
Keywords[es]=yutovo;matemáticas;educación;calculadora;ciencia;unidades;
Keywords[pt_BR]=yutovo;matemática;educação;calculadora;ciência;unidades;
Keywords[de]=yutovo;mathematik;bildung;rechner;wissenschaft;einheiten;