.vscode
.qwen
build
*.qm
yutovo-desktop_1*
setup/Windows/Output
setup/AppImage/out
setup/AppImage/yutovo
setup/Flatpak/build
setup/Flatpak/flathub
setup/Flatpak/yutovo-bin*
setup/Flatpak/.flatpak-builder
setup/Flatpak/yutovo-repo
setup/Snap/log
setup/Snap/yutovo_*
.osc
binaries
.zcode
test-results