[Desktop Entry]
Name=Yutovo
Comment=Calculator
GenericName=Calculator
Type=Application
Exec=
Icon=com.yutovo.yutovo
StartupNotify=true
Terminal=false
Categories=Science;
MimeType=application/x-yutovo;
Keywords=yutovo;mathematics;education;