[Desktop Entry]
Encoding=UTF-8
Name=Yutovo
Name[ru]=Ютово
Name[es]=Yutovo
Name[pt_BR]=Yutovo
Name[de]=Yutovo
Name[fr]=Yutovo
Name[it]=Yutovo
Comment=Visual calculator inside a text editor
Comment[ru]=Наглядный калькулятор внутри текстового редактора
Comment[es]=Calculadora visual dentro de un editor de texto
Comment[pt_BR]=Calculadora visual dentro de um editor de texto
Comment[de]=Anschaulicher Rechner in einem Texteditor
Comment[fr]=Calculatrice visuelle dans un éditeur de texte
Comment[it]=Calcolatrice visuale dentro un editor di testo
GenericName=Calculator
GenericName[ru]=Калькулятор
GenericName[es]=Calculadora
GenericName[pt_BR]=Calculadora
GenericName[de]=Rechner
GenericName[fr]=Calculatrice
GenericName[it]=Calcolatrice
Type=Application
Path=/usr/bin
Exec=yutovo %f
Icon=yutovo
StartupNotify=true
Terminal=false
Categories=Education;
MimeType=application/x-yut;
Keywords=yutovo;mathematics;education;science;math;maths;mathematics;data;
Keywords[ru]=ютово;математика;обучение;калькулятор;наука;размерности;
Keywords[es]=yutovo;matemáticas;educación;calculadora;ciencia;unidades;
Keywords[pt_BR]=yutovo;matemática;educação;calculadora;ciência;unidades;
Keywords[de]=yutovo;mathematik;bildung;rechner;wissenschaft;einheiten;
Keywords[fr]=yutovo;mathématiques;éducation;calculatrice;science;unités;
Keywords[it]=yutovo;matematica;istruzione;calcolatrice;scienza;unità;