[Desktop Entry]
Encoding=UTF-8
Name=Yutovo
Name[ru]=Ютово
Name[es]=Yutovo
Comment=Visual calculator inside a text editor
Comment[ru]=Наглядный калькулятор внутри текстового редактора
Comment[es]=Calculadora visual dentro de un editor de texto
GenericName=Calculator
GenericName[ru]=Калькулятор
GenericName[es]=Calculadora
Type=Application
Path=/usr/bin
Exec=yutovo %f
Icon=yutovo
StartupNotify=true
Terminal=false
Categories=Education;
MimeType=application/x-yut;
Keywords=yutovo;mathematics;education;science;math;maths;mathematics;data;
Keywords[ru]=ютово;математика;обучение;калькулятор;наука;размерности;
Keywords[es]=yutovo;matemáticas;educación;calculadora;ciencia;unidades;