[Desktop Entry]
Name=Yutovo
Name[ru]=Ютово
Name[es]=Yutovo
Name[pt_BR]=Yutovo
Name[de]=Yutovo
Name[fr]=Yutovo
GenericName=Calculator
GenericName[ru]=Калькулятор
GenericName[es]=Calculadora
GenericName[pt_BR]=Calculadora
GenericName[de]=Rechner
GenericName[fr]=Calculatrice
Comment=Visual calculator inside a text editor
Comment[ru]=Наглядный калькулятор внутри текстового редактора
Comment[es]=Calculadora visual dentro de un editor de texto
Comment[pt_BR]=Calculadora visual dentro de um editor de texto
Comment[de]=Anschaulicher Rechner in einem Texteditor
Comment[fr]=Calculatrice visuelle dans un éditeur de texte
Type=Application
Exec=run.sh %f
Icon=application-x-yutovo.png
StartupNotify=true
Terminal=false
Categories=Education;Science;Math;
MimeType=application/x-yutovo;
Keywords=yutovo;mathematics;education;science;math;maths;mathematics;data;