[Desktop Entry]
Name=Yutovo
Name[ru]=Ютово
Name[es]=Yutovo
GenericName=Calculator
GenericName[ru]=Калькулятор
GenericName[es]=Calculadora
Comment=Visual calculator inside a text editor
Comment[ru]=Наглядный калькулятор внутри текстового редактора
Comment[es]=Calculadora visual dentro de un editor de texto
Type=Application
Exec=run.sh %f
Icon=application-x-yutovo.png
StartupNotify=true
Terminal=false
Categories=Science;Education;Math;
MimeType=application/x-yutovo;
Keywords=yutovo;mathematics;education;science;math;maths;mathematics;data;