[Desktop Entry]
Encoding=UTF-8
Name=Yutovo
Name[ru]=Ютово
Comment=Calculator
Comment[ru]=Калькулятор
GenericName=Calculator
GenericName[ru]=Калькулятор
Type=Application
Exec=/opt/yutovo/yutovo_desktop %u
Path=/opt/yutovo/
Icon=/usr/share/icons/hicolor/256x256/apps/yutovo.png
StartupNotify=true
Terminal=false
Categories=Science;Science and mathematics;Engineering;Education;Ciencia y matemáticas;
MimeType=text/plain;
Keywords=yutovo;calculator;mathematics;edication;ютово;калькулятор;математика;
