[Desktop Entry]
Name=Yutovo
Name[ru]=Ютово
Comment=Calculator
GenericName=Calculator
Type=Application
Exec=/opt/yutovo/yutovo_desktop
Path=/opt/yutovo/
StartupNotify=false
Categories=Science;Science and mathematics;Engineering;Education;
MimeType=text/plain;inode/directory;
Actions=new-empty-window;
Keywords=yutovo;
